.wrapper {
  width: 90%;
  margin: 20px auto;
  justify-content: 'center';
}

.main {
  float: left;
  width: 70%;
}

.side {
  float: left;
  width: 30%;
}

@media screen and (max-width: 800px) {
  .main,
  .side {
    width: 100%;
  }
}
